.card {
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 20px 30px;
    width: 220px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.06);
        transform: translateY(-2px);
    }

    p {
        font-size: 14px;
        line-height: 17px;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}

.price {
    display: flex;
    flex-direction: column;

    span {
        font-size: 12px;
        line-height: 13px;
        text-transform: uppercase;
        color: #BDBDBD;
    }

    b {
        font-size: 14px;
        line-height: 17px;
    }
}

.favourite {
    position: absolute;
    cursor: pointer;
}